<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <header id="header">
        <div id="main-header">
            <div id="header">
                <div class="logo">
                    <img src="https://img.freepik.com/free-vector/colorful-letter-gradient-logo-design_474888-2309.jpg"
                        alt="" class="logo-img">
                </div>
                <nav id="header-menu">

                    <ul id="header-ul">
                        <li id="header-li"><a href="/student/home">
                                <p>home</p>
                            </a> </li>
                        <li id="header-li"><a href="/student/form">
                                <p>form</p>
                            </a> </li>
                        <li id="header-li"><a href="/student/login">
                                <p>login</p>
                            </a> </li>
                        <li id="header-li"><a href="/student/signup">
                                <p>signup</p>
                            </a> </li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>



    <h1>testing</h1>
</body>

</html>